.i-checks:first-child{
  padding-left: 0;
}
/deep/ repayment-accept{
  display: block;
}
.ver-mid{
  vertical-align: middle;
}
.table-label{
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
label{
  font-weight: bold;
}
.panel-heading{
  background-color: #fafafa;
}

.group{
  padding: 15px 20px 5px 20px;
}
.mar-t-xxs{
  margin-top: 5px;
}
.wrapper-md{
  padding-top: 15px;
}
.file-name{
  display: inline-block;
  vertical-align: middle;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
