<div class="page-location">
  <a class="h4 pad-r-xs font-bold">贷款单初审</a>
  <a class="page-location-item">业务中心<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">贷前管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active ">贷款单初审</a>
</div>
<div class="wrapper-md">
  <div class="group mar-b-sm pad-sm clearfix">
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">贷款单号：</div>
        <div class="v-table-cell text-default">
          {{loan.borrowApplyId|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">申请时间：</div>
        <div class="v-table-cell text-default">
          {{loan.createTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">状态：</div>
        <div class="v-table-cell text-default">
          {{loan.status|dictionary:'loan_status'|nullReplace}}
        </div>
      </div>
    </div>
  </div>
  <div class="group mar-b-sm pad-sm clearfix">
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">企业名称：</div>
        <div class="v-table-cell text-default">
          {{loan.companyName|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">企业ID：</div>
        <div class="v-table-cell text-default">
          {{loan.memberId|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">申请金额：</div>
        <div class="v-table-cell text-default">
          <span>{{loan.applyAmount|currencyFormat:'xx 元'|nullReplace}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">贷款产品：</div>
        <div class="v-table-cell text-default">
          {{loan.productName|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">贷款周期：</div>
        <div class="v-table-cell text-default">
          {{loan.ratedCycle|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">还款方式：</div>
        <div class="v-table-cell text-default">
          {{loan.paymentWay|dictionary:'payment_way'|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">利率：</div>
        <div class="v-table-cell text-default">
          {{loan.rate|percent|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">计息方式：</div>
        <div class="v-table-cell text-default">
          {{loan.rateType|dictionary:'interest_type'|nullReplace}}
        </div>
      </div>
    </div>
  </div>
  <div class="group mar-b-sm pad-sm clearfix" *ngIf="proveDataOptions&&proveDataOptions.length">
    <div class="col-md-6 mar-b-sm" *ngFor="let opt of proveDataOptions">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">{{opt.proveData.fileTypeName}}：</div>
        <div class="v-table-cell">
          <div class="progress no-margin" *ngIf="opt.uploader.queue.length>0&&!opt.uploader.queue[0].success&&!opt.uploader.queue[0].error">
            <div class="progress-bar progress-bar-success" [style.width.%]="opt.uploader.queue[0].progress">
              <b>{{opt.uploader.queue[0].progress}}%</b>
            </div>
          </div>
          <span class="file-name pull-left" *ngIf="opt.uploader.queue.length>0&&opt.uploader.queue[0].success">{{opt.uploader.queue[0].fileName}}</span>
          <span class="text-danger pull-left" *ngIf="opt.uploader.queue.length>0&&opt.uploader.queue[0].error">上传失败！</span>
          <label *ngIf="opt.uploader.queue.length==0" class="pull-left">
            <a class="text-info">上传</a>
            <input type="file" [uploader]="opt.uploader" style="display: none"/>
          </label>
          <file-buttons *ngIf="opt.uploader.queue.length>0&&opt.uploader.queue[0].success"
                                      styleClass="pull-left"
                                      [fileId]="opt.fileId"
                                      [fileName]="opt.uploader.queue[0].fileName"
                                      (preview)="previewer.open($event,opt.proveData.fileTypeName+'-预览')"
                                      (previewImage)="gallery.open($event)"
          ></file-buttons>
          <a class="text-info mar-l-xs pull-left" title="删除" *ngIf="opt.uploader.queue.length>0&&(opt.uploader.queue[0].success||opt.uploader.queue[0].error)"
          (click)="opt.deleteUploadFile()"><i class="fa fa-remove"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="group mar-b-sm pad-sm clearfix">
    <div class="col-md-12 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold" style="vertical-align: top">
          <label class="control-label required">初审意见：</label>
        </div>
        <div class="v-table-cell">
          <textarea class="form-control form-textarea"
                    placeholder="请输入审批意见" maxlength="200"
                    [(ngModel)]="opinion"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <!--    <button class="btn-def mar-r-sm" (click)="validate()" >提交<i class="fa fa-check-circle-o"></i></button>-->
    <button class="btn-def mar-r-sm" (click)="setIsPass(true);validate()">通过<i
      class="fa fa-check-circle-o text-success"></i></button>
    <button class="btn-def mar-r-sm" (click)="setIsPass(false);validate()">拒绝<i
      class="fa fa-times-circle-o text-danger"></i></button>
    <button class="btn-def " type="button" btnBack>放弃<i class="fa fa-arrow-circle-o-left"></i></button>
  </div>
</div>
<previewer #previewer></previewer>
<gallery #gallery size="md"></gallery>
