<div class="page-location">
  <a class="h4 pad-r-xs font-bold">还款详情</a>
  <a class="page-location-item">业务中心<i
    class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">贷后管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">还款管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active ">还款详情</a>
</div>
<div class="wrapper-md">
  <div class="group clearfix mar-b-sm ">
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">还款单号：</div>
      <div class="v-table-cell text-default">
        {{repaymentNotify.repaymentNotifyId|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">创建时间：</div>
      <div class="v-table-cell text-default">
        {{repaymentNotify.createTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">状态：</div>
      <div class="v-table-cell text-default">
        {{repaymentNotify.statusName|nullReplace}}
      </div>
    </div>
  </div>
  <div class="group clearfix mar-b-sm ">
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">贷款单号：</div>
      <div class="v-table-cell text-default">
        {{loan.borrowApplyId|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">贷款周期：</div>
      <div class="v-table-cell text-default">
        {{loan.ratedCycle|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">企业名称：</div>
      <div class="v-table-cell text-default">
        {{loan.companyName|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">还款方式：</div>
      <div class="v-table-cell text-default">
        <span class="form-control-static">{{loan.paymentWay|dictionary:'payment_way'|nullReplace}}</span>
      </div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">贷款金额：</div>
      <div class="v-table-cell text-default">
        {{loan.approveAmount|currencyFormat:'xx 元'|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">还款期数：</div>
      <div class="v-table-cell text-default">
        <span >{{currentPeriod|currencyFormat:[0,0,'xx/'+repaymentPlans.length+' 期']|nullReplace}}</span>
      </div>
    </div>
    <div class="col-md-12 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8" style="vertical-align: top">还款计划：</div>
      <div class="v-table-cell">
        <repay-plans [data]="loan.borrowApplyId"
                     [isBtnRollover]="true"
                     [isRepaymentRelDate]="true"
                     [isRepaymentAmount]="false"
        ></repay-plans>
      </div>
    </div>
  </div>

  <div class="group clearfix" *ngIf="progress.isAccepted">
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">应还总额：</div>
      <div class="v-table-cell text-default">
        <span >{{(curRepayment?curRepayment.repaymentAmount:'')|currencyFormat:'xx 元'|nullReplace}}</span>
      </div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">实际还款日：</div>
      <div class="v-table-cell text-default">
        <span >{{(curRepayment?curRepayment.repaymentRelDate:'')|date:"yyyy-MM-dd"|nullReplace}}</span>
      </div>
    </div>
    <div class="col-md-12 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">实际还款金额：</div>
      <div class="v-table-cell text-default">
        <span >{{(curRepayment?curRepayment.payRelAmount:'')|currencyFormat:'xx 元'|nullReplace}}</span>
      </div>
    </div>
    <div class="col-md-12 v-table mar-b-xs" *ngIf="curRepayment&&curRepayment.errorRemark">
      <div class="v-table-cell bold w-em-8">误差原因：</div>
      <div class="v-table-cell text-default">
        <span >{{(curRepayment?curRepayment.errorRemark:'')|nullReplace}}</span>
      </div>
    </div>
  </div>
  <div class="text-disabled mar-b-sm mar-t-xxs" *ngIf="progress.isAccepted">
    <small class="">
      注：应还本金+应还利息+罚息=应还总额
    </small>
  </div>
  <div class="group clearfix mar-b-sm" *ngIf="progress.isAccepted">
    <div class="col-md-12 v-table mar-b-xs" >
      <div class="v-table-cell bold w-em-8">还款方式：</div>
      <div class="v-table-cell text-gold">
        <span  *ngIf="repaymentNotify.accountRepaymentWay==0">电子账户还款</span>
        <span   *ngIf="repaymentNotify.accountRepaymentWay==1">其他方式还款</span>
      </div>
    </div>
    <div class="col-md-12 v-table mar-b-xs" *ngIf="repaymentNotify.accountRepaymentWay==0">
      <div class="v-table-cell bold w-em-8">电子账户流水：</div>
      <div class="v-table-cell">
        <table class="table table-bordered bg-white no-margin">
          <thead class="bg-default">
          <tr>
            <th class="text-center">交易时间</th>
            <th class="text-center">发生金额(元)</th>
            <th class="text-center">对方账户</th>
            <th class="text-center">对方账号</th>
            <th class="text-center">可用余额(元)</th>
            <th class="text-center">交易类型</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let flow of repaymentFlows">
            <td class="text-center">{{flow.dealTime}}</td>
            <td class="text-right text-gold">{{flow.amount}}</td>
            <td>{{flow.oppoAcctName}}</td>
            <td>{{flow.oppoAcctNo}}</td>
            <td class="text-right text-gold">{{flow.availableBalance}}</td>
            <td>{{flow.tradeType|dictionary:'trade_type'}}</td>
          </tr>
          </tbody>
        </table>
        <span class="text-default" *ngIf="!repaymentFlows||repaymentFlows.length===0">{{''|nullReplace}}</span>
      </div>
    </div>
    <div class="col-md-12 v-table mar-b-xs" *ngIf="repaymentNotify.accountRepaymentWay==1">
      <div class="v-table-cell bold w-em-8">还款凭证：</div>
      <div class="v-table-cell">
        <file-buttons [fileId]="fileId" [isLoadFile]="true"
        (preview)="previewer.open($event,'还款凭证-预览')"
         (previewimage)="gallery.open($event)"></file-buttons>
      </div>
    </div>
  </div>

  <div class="text-center pad-t-def">
    <button class="btn-def " btnBack>返回<i class="fa fa-arrow-circle-o-left"></i></button>
  </div>
</div>

<previewer #previewer></previewer>
<gallery #gallery size="md"></gallery>
