<div class="page-location">
  <a class="h4 pad-r-xs font-bold">在贷跟踪</a>
  <a class="page-location-item">业务中心<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">贷后管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active ">在贷跟踪</a>
</div>
<div class="pad-t-sm pad-l-def pad-r-def pad-b-def">
  <form class="form-inline pad-b-sm">
    <div class="form-group">
      <label class="control-label">贷款单号：</label>
      <input class="form-control " placeholder="贷款单号" [(ngModel)]="params.borrowApplyId" name="borrowApplyId"/>
    </div>
    <div class="form-group">
      <label class="control-label">企业名称：</label>
      <input class="form-control " placeholder="企业名称关键字" [(ngModel)]="params.companyName" name="companyName"/>
    </div>
    <div class="form-group">
      <button class="btn-def" (click)="paginator.reset();navigate()">搜索<i class="fa fa-search"></i></button>
      <!--          <button type="button"  class="btn btn-primary" [ngClass]="{'cursor-wait':loading}"
                        (click)="paginator.reset();navigate()" ><i class="fa fa-search"></i>搜索</button>-->
      <!--   <button type="button"  class="btn btn-default" (click)="resetParams()" >
           <i class="fa fa-minus-circle"></i>重置</button>-->
    </div>
  </form>
  <div class="tab-container no-margin">
    <ul class="nav nav-tabs nav-tab-info">
      <li *ngFor="let tab of tabs;let i=index" [ngClass]="{'active':tab.active}">
        <a (click)="changeTab(i);paginator.reset();navigate()">{{tab.tabName}}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <p-dataTable #dt [value]="tableData" emptyMessage="{{loading?'':'没有查询到符合条件的记录'}}"
        [loading]="loading" scrollable="true" scrollHeight="375px"  >
          <p-header *ngIf="!tabs[0].active&&paginator.count>0">
            <div class="ui-helper-clearfix text-right" *ngIf="tabs[1].active">
              当前<span class="text-danger">{{paginator.count}}</span>笔贷款即将到期
              <!--，总金额：¥<span class="text-danger">46,000.00</span>元-->
            </div>
            <div class="ui-helper-clearfix text-right" *ngIf="tabs[2].active">
              当前<span class="text-danger">{{paginator.count}}</span>笔贷款逾期未还
            </div>
          </p-header>
          <p-column field="borrowApplyId" header="贷款单号" styleClass="text-center"  [style]="{'width':'130px'}"></p-column>
          <p-column field="companyName" header="企业名称" [style]="{'width':'220px'}">
            <ng-template let-loan="rowData" pTemplate="body">
              <div textMaxLength="220px" title="{{loan.companyName}}">
                {{loan.companyName}}
              </div>
            </ng-template>
          </p-column>
          <p-column field="productName" header="贷款产品"  [style]="{'width':'130px'}">
            <ng-template let-loan="rowData" pTemplate="body">
              <div textMaxLength="130px" title="{{loan.applyAmount|currencyFormat|nullReplace}}">
                {{loan.productName}}
              </div>
            </ng-template>
          </p-column>
          <p-column styleClass="text-center" [style]="{'width':'120px'}">
            <ng-template pTemplate="header" >
              还款日
            </ng-template>
            <ng-template let-loan="rowData" pTemplate="body">
              {{loan.limitTime|date:'yyyy-MM-dd'|nullReplace}}
            </ng-template>
          </p-column>
          <p-column styleClass="text-right text-gold" [style]="{'width':'120px'}">
            <ng-template pTemplate="header" >
              应还金额(元)
            </ng-template>
            <ng-template let-loan="rowData" pTemplate="body">
              {{loan.repayRelAmount|currencyFormat|nullReplace}}
            </ng-template>
          </p-column>
          <p-column styleClass="text-center" [style]="{'width':'120px'}">
            <ng-template pTemplate="header">
              状态
            </ng-template>
            <ng-template let-loan="rowData" pTemplate="body">
              <span class="cur-poi text-info" (click)="sysLog.open(loan.borrowApplyId)">{{loan.status|dictionary:'loanStatus'}}</span>
            </ng-template>
          </p-column>
          <!-- <p-column field="remarks" header="备注" styleClass="text-center"></p-column>-->
          <p-column [style]="{'width':'140px'}" >
            <ng-template pTemplate="header" >
              操作
            </ng-template>
            <ng-template let-loan="rowData" pTemplate="body">
              <div class="table-btn-group">
                <a class="table-btn" (click)="openRepaymentPlanModal(loan.borrowApplyId)">还款计划</a>
                <a class="table-btn" routerLink="/business/loan/inProcess/details/{{loan.borrowApplyId}}">详情</a>
              </div>
            </ng-template>
          </p-column>
          <p-footer>
            <div class="clearfix">
              <div class="pull-right">
                <paginator [(index)]="paginator.index"
                           [count]="paginator.count"
                           [changePageSizeAble]="true"
                           [showTotal]="true"
                           [(pageSize)]="paginator.size"
                           (onChangePage)="navigate()" size="sm"></paginator>
              </div>
            </div>
          </p-footer>
        </p-dataTable>
      </div>
    </div>

  </div>
</div>

<modal [(visible)]="modalRepaymentPlan.visible" size="lg">
  <modal-header>还款计划</modal-header>
  <modal-body>
    <p class="pad-def text-disabled text-center" *ngIf="modalRepaymentPlan.loading"></p>
    <table class="table table-bordered no-margin bg-white" *ngIf="!modalRepaymentPlan.loading">
      <thead class="bg-default">
      <tr>
        <th class="text-center">期数</th>
        <th class="text-center">还款日</th>
        <th class="text-center">应还本金(元)</th>
        <th class="text-center">应还利息(元)</th>
        <th class="text-center">罚息(元)</th>
        <th class="text-center">应还总额(元)</th>
        <th class="text-center">状态</th>
        <th class="text-center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let repayPlan of modalRepaymentPlan.data" [ngClass]="{'text-disabled':repayPlan.status===1}">
        <td class="text-center">{{repayPlan.repaymentPlan}}/{{modalRepaymentPlan.data.length}}期</td>
        <td class="text-center">{{repayPlan.repaymentPlanDate|date:'yyyy-MM-dd'}}</td>
        <td class="text-right text-gold">{{repayPlan.repaymentPrinciple|currencyFormat|nullReplace}}</td>
        <td class="text-right text-gold">{{repayPlan.repaymentInterest|currencyFormat|nullReplace}}</td>
        <td class="text-right text-gold">{{repayPlan.overdueInterest|currencyFormat|nullReplace}}</td>
        <td class="text-right text-gold">{{repayPlan.repayRelAmount|currencyFormat|nullReplace}}</td>
        <td class="text-center">
          {{repayPlan.statusName}}
        </td>
        <td class="text-center">
          <div class="table-btn-group">
            <!--    <a class="table-btn text-info">展期</a>-->
            <a class="table-btn text-info" *ngIf="repayPlan.status===0&&oauth.roleIn(['003','010'])"
               routerLink="/business/loan/repayment/repay/{{repayPlan.borrowApplyId}}/{{repayPlan.repaymentPlan}}">还款</a>
          </div>
        </td>
      </tr>
      <!--            <tr>
                      <td class="text-center">总计</td>
                      <td></td>
                      <td class="text-right">300,000.00</td>
                      <td class="text-right">6,000.00</td>
                      <td></td>
                      <td></td>
                  </tr>-->
      </tbody>
    </table>
  </modal-body>
  <modal-footer styleClass="no-t-padding">
    <button class="btn btn-default" (click)="closeRepaymentPlanModal()">
      关闭
    </button>
  </modal-footer>
</modal>

<system-logs #sysLog [mode]="1" title="操作记录" [isShowType]="false" [isShowId]="false"></system-logs>
