<div class="page-location">
  <a class="h4 pad-r-xs font-bold">系统日志</a>
  <a class="page-location-item">管理中心<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active ">系统日志</a>
</div>
<div class="wrapper-md">
  <system-logs [isShowSearchBox]="true" ></system-logs>
</div>
<!--<input type="file" [uploader]="uploader" multiple="multiple"   />-->
<!--<a *ngFor="let f of uploader.queue">-->
  <!--<img   [src]="f.dataUrl"  >-->
  <!--<img   [src]="f.compressedDataUrl"  >-->
<!--</a>-->
<!--<button (click)="gallery.open($event,1,galleryImages,'http://img2.imgtn.bdimg.com/it/u=2139391670,4174270048&fm=26&gp=0.jpg')" >open Gallery1</button>-->
<!--<button (click)="gallery.open(2,$event)" >open Gallery2</button>-->
<!--<button (click)="gallery.open(3)" >open Gallery3</button>-->
<!--<button (click)="gallery.open($event)" >open Gallery4</button>-->
<!--<button (click)="gallery.open()" >open Gallery5</button>-->
<!--<gallery #gallery  [data]="galleryImages1" [dataProps]="['a','b']"></gallery>-->
