<div class="page-location">
  <a class="h4 pad-r-xs font-bold">还款管理</a>
  <a class="page-location-item">业务中心<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">贷后管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active ">还款管理</a>
</div>
<div class="wrapper-md">

  <div class="tab-container">
    <ul class="nav nav-tabs nav-tab-info">
      <li *ngFor="let tab of tabs;let i=index" [ngClass]="{'active':tab.active}">
        <a (click)="changeTab(i);paginator.reset();navigate()">{{tab.tabName}}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <p-dataTable #dt [value]="tableData"
                     emptyMessage="{{loading?'':'没有查询到符合条件的记录'}}" [loading]="loading"
                     scrollable="true" scrollHeight="375px">
          <p-column  header="还款单号" styleClass="text-center" [style]="{'width':'130px'}">
            <ng-template  let-repayment="rowData" pTemplate="body" >
              <div textMaxLength="130px" title="{{repayment.repaymentNotifyId}}">
                {{repayment.repaymentNotifyId}}
              </div>
            </ng-template>
          </p-column>
          <p-column  header="企业名称" [style]="{'width':'220px'}">
            <ng-template  let-repayment="rowData" pTemplate="body" >
              <div textMaxLength="220px" title="{{repayment.companyName}}">
                {{repayment.companyName}}
              </div>
            </ng-template>
          </p-column>
          <p-column  header="贷款单号" styleClass="text-center" [style]="{'width':'130px'}">
            <ng-template  let-repayment="rowData" pTemplate="body" >
              <div textMaxLength="130px" title="{{repayment.borrowApplyId}}">
                {{repayment.borrowApplyId}}
              </div>
            </ng-template>
          </p-column>
          <p-column  styleClass="text-right text-gold" [style]="{'width':'120px'}">
            <ng-template pTemplate="header">
              还款金额(元)
            </ng-template>
            <ng-template  let-repayment="rowData" pTemplate="body" >
              {{repayment.repaymentAmount|currencyFormat|nullReplace}}
            </ng-template>
          </p-column>
          <p-column  styleClass="text-center" [style]="{'width':'100px'}">
            <ng-template pTemplate="header">
              还款期数
            </ng-template>
            <ng-template let-repayment="rowData" pTemplate="body" >
              第{{repayment.currentPeriod}}期
            </ng-template>
          </p-column>
          <p-column  styleClass="text-center" [style]="{'width':'100px'}">
            <ng-template pTemplate="header">
              还款日期
            </ng-template>
            <ng-template let-notify="rowData" pTemplate="body">
              {{notify.repaymentDate|date:"yyyy-MM-dd"}}
            </ng-template>
          </p-column>
          <p-column field="status" header="状态" styleClass="text-center" [style]="{'width':'100px'}">
            <ng-template pTemplate="header">
              状态
            </ng-template>
            <ng-template let-notify="rowData" pTemplate="body">
              <div textMaxLength="100px" title="{{notify.statusName}}">
                {{notify.statusName}}
              </div>
            </ng-template>
          </p-column>
          <p-column  *ngIf="tabs[0].active||tabs[1].active" [style]="{'width':'120px'}">
            <ng-template pTemplate="header" >
              操作
            </ng-template>
            <ng-template let-notify="rowData" pTemplate="body">
              <div class="table-btn-group">
                <a class="table-btn" *ngIf="notify.status==1&&oauth.roleIn(['003','010'])"
                   (click)="lineSwitch.open(notify.repaymentNotifyId,notify.memberId)"
                   >受理</a>
                <a class="table-btn" *ngIf="notify.status==2&&oauth.roleIn(['001','009','010'])"
                   (click)="navigateWithData('/business/loan/repayment/cav',notify,['/business/loan/repayment/cav',notify.repaymentNotifyId])">核销</a>
                <a class="table-btn"
                   (click)="navigateWithData('/business/loan/repayment/details',notify,['/business/loan/repayment/details',notify.repaymentNotifyId])">详情</a>
              </div>
            </ng-template>
          </p-column>
          <p-footer >
            <div class="clearfix">
              <div class="pull-right">
                <paginator [(index)]="paginator.index"
                           [count]="paginator.count"
                           [changePageSizeAble]="true"
                           [(pageSize)]="paginator.size"
                           (onChangePage)="navigate()" size="sm"></paginator>
              </div>
            </div>
          </p-footer>
        </p-dataTable>
      </div>

    </div>
  </div>
</div>

<line-switch #lineSwitch type="1"></line-switch>
