<div class="page-location">
  <a class="h4 pad-r-xs font-bold">还款</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>业务中心<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">贷后管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">还款管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active ">还款</a>
</div>
<div class="wrapper-md ">
  <div class="group clearfix mar-b-sm">
    <div class="group-title">贷款信息</div>
    <table class="table no-border no-b-margin ">
      <tbody>
      <tr>
        <td class="table-label" width="10%">贷款单号：</td>
        <td class="text-default" width="40%">{{loan.borrowApplyId|nullReplace}}</td>
        <td class="table-label" width="10%">贷款周期：</td>
        <td class="text-default" width="40%">
          {{loan.ratedCycle|nullReplace}}
        </td>
      </tr>
      <tr>
        <td class="table-label" width="10%">企业名称：</td>
        <td class="text-default" width="40%">{{loan.companyName|nullReplace}}</td>
        <td class="table-label">还款方式：</td>
        <td class="text-default">
          {{loan.paymentWay|dictionary:'payment_way'|nullReplace}}
        </td>
      </tr>
      <tr>
        <td class="table-label">贷款金额：</td>
        <td class="text-default">
          <div class="">
            {{loan.approveAmount|currencyFormat:'xx 元'|nullReplace}}
          </div>
        </td>
        <td class="table-label">还款期数：</td>
        <td class="text-default">
          {{repayPlan.currentPeriod|currencyFormat:[0,0,'xx/'+repayPlan.totalPeriod+' 期']|nullReplace}}
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="group clearfix mar-b-sm">
    <div class="group-title">还款信息</div>
    <table class="table table-bordered bg-white mar-b-xs mar-t-xs">
      <thead class="bg-default">
      <tr>
        <th></th>
        <th class="text-center">还款日期</th>
        <th class="text-center">应还本金(元)</th>
        <th class="text-center">应还利息(元)</th>
        <th class="text-center">罚息(元)</th>
        <th class="text-center">应还总额</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">本期计划</td>
        <td class="text-center">{{repayPlan.repaymentDate|date:'yyyy-MM-dd hh:mm:ss'}}</td>
        <td class="text-right text-gold">{{repayPlan.repaymentCapital|currencyFormat|nullReplace}}</td>
        <td class="text-right text-gold">{{repayPlan.repaymentInterest|currencyFormat|nullReplace}}</td>
        <td class="text-right">{{repayPlan.overdueInterest|currencyFormat|nullReplace}}</td>
        <td class="text-right">{{repayPlan.repaymentAmount|currencyFormat|nullReplace}}</td>
      </tr>
     <!-- <tr>
        <td class="text-center ver-mid">本期实际</td>
        <td class="text-center ver-mid" >
          {{submitData.repaymentRelDate|date:'yyyy-MM-dd hh:mm:ss'}}
        </td>
        <td class="text-right ver-mid text-gold" >
          {{repayPlan.repaymentCapital|currencyFormat|nullReplace}}
        </td>
        <td class="text-right ver-mid text-gold" >
          {{repayPlan.repaymentInterest|currencyFormat|nullReplace}}
        </td>
        <td class="text-right ver-mid text-gold" >
          <span >{{repayPlan.overdueInterest|currencyFormat|nullReplace}}</span>
        </td>
        <td class="text-right ver-mid text-gold" >
          {{repayPlan.repaymentAmount|currencyFormat|nullReplace}}
        </td>
      </tr>-->
      </tbody>
    </table>
  </div>
  <div class="text-center">

    <button class="btn-def  mar-r-sm" [disabled]="submitted" (click)="submit()">{{submitted?'正在提交...':'提交'}}<i class="fa fa-check-circle-o"></i></button>
    <button class="btn-def " btnBack>放弃<i class="fa fa-arrow-circle-o-left"></i></button>
  </div>
</div>

