<div class="page-location" >
  <a class="h4 pad-r-xs font-bold" *ngIf="type==1">修改密码</a>
  <a class="h4 pad-r-xs font-bold" *ngIf="type==2">修改审核口令</a>
</div>
<div class="wrapper-md">
  <form class="form-horizontal col-md-6 col-md-offset-2 pad-t-def" HTML5Validate (submit)="submit()">
    <div class="form-group">
      <label class="control-label col-md-4"><i class="label-required text-danger">*</i>{{type===1?'旧密码':'旧口令'}}：</label>
      <div class="col-md-8">
        <input class="form-control" type="password" placeholder="{{type===1?'旧密码':'旧口令'}}"
               [(ngModel)]="oldPassword" name="oldPassword" required   #oldPasswordRef="ngModel"
               [HTML5Validate]="[[oldPassword==='',type===1?'请输入旧密码！':'请输入旧口令！']]"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4"><i class="label-required text-danger">*</i>{{type===1?'新密码':'新口令'}}：</label>
      <div class="col-md-8">
        <input class="form-control" type="password" placeholder="{{type===1?'新密码':'新口令'}}"
               [(ngModel)]="newPassword" name="newPassword" required pattern="^.{6,}$" #newPasswordRef="ngModel"
               [HTML5Validate]="[[newPassword==='',type===1?'请输入新密码！':'请输入新审核口令！'],
         [!!(newPasswordRef.errors&&newPasswordRef.errors.pattern),(type===1?'密码':'审核口令')+'不能少于6位']]"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4"><i class="label-required text-danger">*</i>确认新{{type===1?'密码':'口令'}}：</label>
      <div class="col-md-8">
        <input class="form-control" type="password" placeholder="请再次输入新{{type===1?'密码':'口令'}}"
               [(ngModel)]="newPasswordCopy" name="newPasswordCopy" required
               pattern="{{newPassword+''}}" #newPasswordCopyRef="ngModel"
               [HTML5Validate]="[[newPasswordCopyRef.errors&&newPasswordCopyRef.errors.required,type===1?'请再次输入新密码！':'请再次输入新审核口令！'],
               [newPasswordCopyRef.errors&&newPasswordCopyRef.errors.pattern,type===1?'两次输入的密码不一致！':'两次输入的审核口令不一致！']]"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 col-md-offset-4">
        <button class="btn-def mar-r-xs" type="submit" [disabled]="submitted">{{submitted?'正在提交...':'确定'}}<i class="fa fa-check-circle-o"></i></button>
        <button class="btn-def " btnBack type="button">放弃<i class="fa fa-arrow-circle-o-left"></i></button>
      </div>
    </div>
  </form>
</div>










