<div class="page-location" >
  <a class="h4 pad-r-xs font-bold">修改密码</a>
</div>
<div class="wrapper-md">
  <form class="form-horizontal col-md-6 col-md-offset-2 pad-t-def" HTML5Validate (submit)="submit()">
    <div class="form-group">
      <label class="control-label col-md-4"><i class="label-required text-danger">*</i>旧密码：</label>
      <div class="col-md-8">
        <input class="form-control" type="password" placeholder="旧密码" [(ngModel)]="oldPassword" name="oldPassword" required pattern="^.{6,}$"  #oldPasswordRef="ngModel"
              [HTML5Validate]="[[oldPassword==='','请输入旧密码！'],[!!(oldPasswordRef.errors&&oldPasswordRef.errors.pattern),'密码不能少于6位']]"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4"><i class="label-required text-danger">*</i>新密码：</label>
      <div class="col-md-8">
        <input class="form-control" type="password" placeholder="新密码" [(ngModel)]="newPassword" name="newPassword" required pattern="^.{6,}$" #newPasswordRef="ngModel"
         [HTML5Validate]="[[newPassword==='','请输入新密码！'],[!!(newPasswordRef.errors&&newPasswordRef.errors.pattern),'密码不能少于6位']]"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4"><i class="label-required text-danger">*</i>确认新密码：</label>
      <div class="col-md-8">
        <input class="form-control" type="password" placeholder="请再次输入新密码" [(ngModel)]="newPasswordCopy" name="newPasswordCopy" required
                pattern="{{newPassword+''}}" #newPasswordCopyRef="ngModel"
               [HTML5Validate]="[[!!(newPasswordCopyRef.errors&&newPasswordCopyRef.errors.required),'请输再次入新密码！'],
               [!!(newPasswordCopyRef.errors&&newPasswordCopyRef.errors.pattern),'两次输入的密码不一致！']]" />
      </div>
    </div>
    <div class="form-group clearfix">
      <div class="col-md-8 col-md-offset-4">
      <!--  <button class="btn btn-primary mar-r-xs" type="submit" [disabled]="submitted"><i class="fa fa-check"></i>{{submitted?'正在提交...':'确定'}}</button>
        <button class="btn btn-default" type="button" btnBack><i class="fa fa-remove"></i>取消</button>-->

          <button class="btn-def mar-r-xs" type="submit" [disabled]="submitted">{{submitted?'正在提交...':'确定'}}<i class="fa fa-check-circle-o"></i></button>
        <button class="btn-def " btnBack type="button">放弃<i class="fa fa-arrow-circle-o-left"></i></button>
      </div>
    </div>
  </form>
</div>










