.resource-item{
  line-height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 0 10px;
  margin: 0;
}
.resource-item:hover{
  background-color: #fafafa;

}
.resource-item.active{
  background-color: #fff;
  border-top: 1px solid #eaeff0;
  border-bottom: 1px solid #eaeff0;
  border-right: 2px solid #fff;
  border-left: 3px solid #00a6dd;
  position: relative;
  left:1px;
  margin-left: -2px;
}
.resource-item.active:first-child{
  border-top: none;
}
/deep/ modify-product-conf{
  display: block;
}

