<div class="page-location">
  <a class="h4 pad-r-xs font-bold">产品利率配置</a>
  <a class="page-location-item">
    管理中心<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">产品管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active ">产品利率配置</a>
</div>
<div class="wrapper-md">
  <table class="table table-bordered bg-white no-margin">
    <tbody>
    <tr>
      <td  style="vertical-align: middle;width: 120px;">
        <span class="bold">适用渠道：</span>
      </td>
      <td colspan="3">
        <div style="padding-top:5px;">
          <radio [(key)]="product.productAppScope" [value]="0" [disabled]="true" *ngIf="product.productAppScope==0">全渠道</radio>
          <radio [(key)]="product.productAppScope" [value]="1" [disabled]="true" *ngIf="product.productAppScope==1">指定渠道</radio>
        </div>
      </td>
    </tr>
    <tr>
      <td class="no-padding" *ngIf="product.productAppScope===1" rowspan="2">
        <p class="resource-item" *ngFor="let resource of selectedResources" (click)="activateResource(resource)"
           [ngClass]="{'active':activeResource==resource}">{{resource.resourceName}}</p>
      </td>
      <td rowspan="2" colspan="3">
        <table class="table table-bordered no-margin"  >
          <thead class="bg-default">
          <tr>
            <th class="text-center">还款方式</th>
            <th class="text-center">计息方式</th>
            <th class="text-center">利率（%）</th>
            <th class="text-center">贷款周期</th>
            <th class="text-center">操作</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center" *ngFor="let conf of productConfigs"
              [hidden]="(product.productAppScope===0&&conf.appId!=-1)||
                  (product.productAppScope===1&&!activeResource)||
                (product.productAppScope===1&&activeResource&&conf.appId!=activeResource.resourceId)">
            <td>{{conf.paymentWay|dictionary:'payment_way'}}</td>
            <td>{{conf.interestType|dictionary:'interest_type'}}</td>
            <td>{{conf.interestValue|percent}}</td>
            <td>{{conf.rateCycle}}</td>
            <td>

              <button class="btn btn-xs btn-danger" (click)="removeProdConf(conf.id)"><i class="fa fa-minus-circle"></i>删除</button>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <button class="btn btn-sm btn-default" (click)="openConfModal()" *ngIf="activeResource||product.productAppScope===0"><i
                class="glyphicon glyphicon-plus"></i>添加配置
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="product.productAppScope===1" style="margin-top:5px">
    <button class="btn-def-outline" (click)="openSelectResourceModal()" ><i
      class="glyphicon glyphicon-plus"></i>添加渠道
    </button>
  </div>
  <div class="text-center mar-t-sm">
    <button class="btn-def" btnBack>返 回<i class="fa fa-arrow-circle-o-left"></i></button>
  </div>
</div>
<q-btn-group></q-btn-group>

<modal [(visible)]="modalSelectResource.visible" size="md">
  <modal-header>添加渠道</modal-header>
  <modal-body>
    <form class="form-horizontal">
      <div class="form-group no-b-margin">
        <label class="control-label col-sm-3">选择渠道：</label>
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="modalSelectResource.data.resourceId" name="resourceId">
            <option *ngFor="let resource of resources" [value]="resource.resourceId">{{resource.resourceName}}</option>
          </select>
        </div>
      </div>
    </form>
  </modal-body>
  <modal-footer styleClass="no-t-padding">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-3">
        <button class="btn btn-primary"
                (click)="selectResourceById(modalSelectResource.data.resourceId);closeSelectResourceModal();">确定
        </button>
        <button class="btn btn-default" (click)="closeSelectResourceModal()">取消</button>
      </div>
    </div>
  </modal-footer>
</modal>
<modal [(visible)]="modalConf.visible" size="md">
  <modal-header>添加配置</modal-header>
  <modal-body>
    <form class="form-horizontal">
      <div class="form-group" *ngIf="modalConf.errMsg">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <div class="alert alert-warning no-margin pad-xs">{{modalConf.errMsg}}</div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3"><i class="label-required text-danger">*</i>还款方式：</label>
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="modalConf.data.repaymentWay" name="repaymentWay">
            <option *ngFor="let repaymentWay of modalConf.repaymentWayOptions" [value]="repaymentWay.value">{{repaymentWay.label}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3"><i class="label-required text-danger">*</i>计息方式：</label>
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="modalConf.data.interestType" name="interestType">
            <option *ngFor="let interestType of modalConf.interestTypeOptions" [value]="interestType.value">{{interestType.label}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3"><i class="label-required text-danger">*</i>利率：</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input class="form-control" placeholder="利率" [(ngModel)]="modalConf.data.interestValue" name="interestValue" />
            <span class="input-group-addon">%</span>
          </div>
        </div>
      </div>
      <div class="form-group no-b-margin">
        <label class="control-label col-sm-3"><i class="label-required text-danger">*</i>贷款周期：</label>
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="modalConf.data.rateCycle" name="rateCycle">
            <option *ngFor="let rateCycle of modalConf.rateCycleOptions" [value]="rateCycle.label">{{rateCycle.label}}</option>
          </select>
        </div>
      </div>
    </form>
  </modal-body>
  <modal-footer styleClass="no-t-padding">
    <div class="col-sm-8 col-sm-offset-3">
      <!--<button class="btn btn-primary" (click)="tryCreatingConf()" [disabled]="modalConf.submitted">{{modalConf.submitted?'正在提交...':'确定'}}</button>
      <button class="btn btn-default" (click)="closeConfModal()">取消</button>-->
      <button class="btn btn-primary" (click)="tryCreatingConf()" [disabled]="modalConf.submitted" >{{modalConf.submitted?'正在提交...':'确 定'}}</button>
      <button class="btn btn-default " (click)="closeConfModal()">取 消</button>
    </div>
  </modal-footer>
</modal>
