<div class="page-location">
  <a class="h4 pad-r-xs font-bold">贷款详情</a>
  <a class="page-location-item">业务中心<i
    class="pad-l-min fa fa-angle-right"></i></a>
  <!--  <a class="page-location-item ">贷款管理<i class="pad-l-min fa fa-angle-right"></i></a>-->
  <a class="page-location-item active ">贷款详情</a>
</div>
<div class="wrapper-md">
  <div class="group mar-b-sm pad-sm clearfix">
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">贷款单号：</div>
      <div class="v-table-cell text-default">
        {{loan.borrowApplyId|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">申请时间：</div>
      <div class="v-table-cell text-default">
        {{loan.createTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">状态：</div>
      <div class="v-table-cell text-default">
        {{loan.status|dictionary:'loan_status'|nullReplace}}
      </div>
    </div>
  </div>
  <div class="group mar-b-sm pad-sm clearfix">
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">企业名称：</div>
      <div class="v-table-cell text-default">
        {{loan.companyName|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">企业ID：</div>
      <div class="v-table-cell text-default">
        {{loan.memberId|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">申请金额：</div>
      <div class="v-table-cell text-default">
        <span>{{loan.applyAmount|currencyFormat:'xx 元'|nullReplace}}</span>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">贷款产品：</div>
      <div class="v-table-cell text-default">
        {{loan.productName|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">贷款周期：</div>
      <div class="v-table-cell text-default">
        {{loan.ratedCycle|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">还款方式：</div>
      <div class="v-table-cell text-default">
        {{loan.paymentWay|dictionary:'payment_way'|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">利率：</div>
      <div class="v-table-cell text-default">
        {{loan.rate|percent|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 mar-b-sm v-table">
      <div class="v-table-cell w-em-8 bold">计息方式：</div>
      <div class="v-table-cell text-default">
        {{loan.rateType|dictionary:'interest_type'|nullReplace}}
      </div>
    </div>
  </div>
  <div class="group mar-b-sm pad-sm clearfix" *ngIf="(progress.isProveData&&proveData.length)||progress.isContracts">
    <div  *ngIf="progress.isProveData">
      <div class="col-md-6 mar-b-sm" *ngFor="let pd of proveData">
        <div class="v-table full-w">
          <div class="v-table-cell w-em-8 bold">{{pd.fileTypeName}}：</div>
          <div class="v-table-cell">
            <file-buttons [fileId]="pd.fileLoadId" [isLoadFile]="true"
                                        (preview)="previewer.open($event,pd.fileTypeName+'-预览')"
                                        (previewImage)="gallery.open($event)"
            ></file-buttons>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mar-b-sm v-table" *ngIf="progress.isContracts">
      <div class="v-table-cell w-em-8 bold">合同：</div>
      <div class="v-table-cell text-default">
        <ul>
          <li class="">
            <a class="text-info" *ngFor="let contract of contracts"
               (click)="contractDetails.open(contract)"
            >
              《{{contract.contractTitle}}》
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="group mar-b-sm pad-sm clearfix" *ngIf="progress.isApproved||progress.isPlanList||progress.isLoanFlows">
    <div class="col-md-6 mar-b-sm v-table" *ngIf="progress.isApproved">
      <div class="v-table-cell w-em-8 bold">放款时间：</div>
      <div class="v-table-cell text-default" >
        {{loan.loanTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
      </div>
    </div>
    <div class="col-md-6 mar-b-sm v-table" *ngIf="progress.isPlanList">
      <div class="v-table-cell w-em-8 bold">还款计划：</div>
      <div class="v-table-cell text-default">
        <a class="text-info" (click)="repayPlans.open(loan.borrowApplyId)" >查看</a>
      </div>
    </div>
    <div class="col-md-12 mar-b-sm v-table" *ngIf="loan.toWhere==2&&progress.isLoanFlows">
      <div class="v-table-cell w-em-8 bold" style="vertical-align: top">电子账户流水：</div>
      <div class="v-table-cell text-default">
        <table class="table table-bordered bg-white no-margin" *ngIf="loanFlows&&loanFlows.length">
          <thead class="bg-default">
          <tr>
            <th class="text-center">交易时间</th>
            <th class="text-center">发生金额(元)</th>
            <th class="text-center">对方账户</th>
            <th class="text-center">对方账号</th>
            <th class="text-center">可用余额(元)</th>
            <th class="text-center">交易类型</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let flow of loanFlows">
            <td class="text-center">{{flow.dealTime}}</td>
            <td class="text-right text-gold">{{flow.amount}}</td>
            <td>{{flow.oppoAcctName}}</td>
            <td>{{flow.oppoAcctNo}}</td>
            <td class="text-right text-gold">{{flow.availableBalance}}</td>
            <td>{{flow.tradeTypeDic}}</td>
          </tr>
          </tbody>
        </table>
        <span class="text-default" *ngIf="!loanFlows||loanFlows.length===0">{{''|nullReplace}}</span>
      </div>
    </div>
    <div class="col-md-12 mar-b-sm v-table" *ngIf="loan.toWhere==1&&progress.isLoanFlows&&loanFlows.length">
      <div class="v-table-cell w-em-8 bold">放款凭证：</div>
      <div class="v-table-cell text-default">
              <file-buttons [fileId]="loanFlows[0].fileLoadId" [isLoadFile]="true"
                                          (preview)="previewer.open($event,'放款凭证-预览')"
                                          (previewImage)="gallery.open($event)">
              </file-buttons>
      </div>
    </div>
  </div>

  <div class="group mar-b-sm  clearfix" *ngIf="progress.isFirstReviewInfo">
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">一审人员：</div>
        <div class="v-table-cell text-default">
          {{firstReviewInfo.operator|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">一审时间：</div>
        <div class="v-table-cell text-default">
          {{firstReviewInfo.reviewTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-12 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">一审意见：</div>
        <div class="v-table-cell text-default">
          {{firstReviewInfo.opinion|nullReplace}}
        </div>
      </div>
    </div>
  </div>
  <div class="group mar-b-sm  clearfix" *ngIf="progress.isSecondReviewInfo">
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">二审人员：</div>
        <div class="v-table-cell text-default">
          {{secondReviewInfo.operator|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">二审时间：</div>
        <div class="v-table-cell text-default">
          {{secondReviewInfo.reviewTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-12 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">二审意见：</div>
        <div class="v-table-cell text-default">
          {{secondReviewInfo.opinion|nullReplace}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 text-center pad-b-def">
    <button class="btn-def" btnBack>返 回<i class="fa fa-arrow-circle-o-left"></i></button>
  </div>
</div>
<contract-details [mode]="1" #contractDetails></contract-details>
<previewer #previewer></previewer>
<gallery #gallery size="md"></gallery>
<flow-details [mode]="1" #flowDetails></flow-details>
<repay-plans [mode]="1" #repayPlans [isBtnRepay]="true"></repay-plans>
