.control-label{
  white-space: nowrap;
  font-weight: bold;
}
.form-horizontal.dt-col {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:10px;
  border:1px solid #ccc;
  background-color: #fefefe;
}
.form-horizontal.dt-col .form-group{
  margin-bottom:5px;
}
.dt-col table.table{
  margin-bottom: 0;
}

.dt-col .table{
  background: #fff;
}
/deep/ loan-details{
  display: block;
}
.wrapper-md{
  padding-top: 15px;
}
