<div class="page-location">
  <a class="h4 pad-r-xs font-bold">还款核销</a>
  <a class="page-location-item">业务中心<i
    class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">贷后管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">还款管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active ">还款核销</a>
</div>


<div class="wrapper-md">
  <div class="group mar-b-sm clearfix">
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">还款单号：</div>
        <div class="v-table-cell text-default">{{repaymentNotify.repaymentNotifyId|nullReplace}}</div>
      </div>
    </div>
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">创建时间：</div>
        <div class="v-table-cell text-default">{{repaymentNotify.createTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">状态：</div>
        <div class="v-table-cell text-default">{{repaymentNotify.statusName|nullReplace}}</div>
      </div>
    </div>
  </div>
  <div class="group mar-b-sm clearfix">
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">贷款单号：</div>
        <div class="v-table-cell text-default">{{loan.borrowApplyId|nullReplace}}</div>
      </div>
    </div>
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">贷款周期：</div>
        <div class="v-table-cell text-default">{{loan.ratedCycle|nullReplace}}</div>
      </div>
    </div>
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">企业名称：</div>
        <div class="v-table-cell text-default">{{loan.companyName|nullReplace}}</div>
      </div>
    </div>
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">还款方式：</div>
        <div class="v-table-cell text-default">{{loan.paymentWay|dictionary:'payment_way'|nullReplace}}</div>
      </div>
    </div>
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">贷款金额：</div>
        <div class="v-table-cell text-default">{{loan.approveAmount|currencyFormat:'xx 元'|nullReplace}}</div>
      </div>
    </div>
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">还款期数：</div>
        <div class="v-table-cell text-default">
          {{currentPeriod|currencyFormat:[0,0,'xx/'+repaymentPlans.length+' 期']|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-12 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8" style="vertical-align: top">还款计划：</div>
        <div class="v-table-cell">
          <repay-plans [data]="loan.borrowApplyId"
                       [isBtnRollover]="true"
                       [isRepaymentRelDate]="true"
                       [isRepaymentAmount]="false"
          ></repay-plans>
        </div>
      </div>
    </div>
  </div>

  <div class="group clearfix ">
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">应还总额：</div>
        <div class="v-table-cell text-default">
          <span>{{(repayPlan?repayPlan.repaymentAmount:'')|currencyFormat:'xx 元'|nullReplace}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">
          <label class="no-margin">实际还款时间：</label>
        </div>
        <div class="v-table-cell text-default">
          <span>{{repayPlan.repaymentDate|date:'yyyy-MM-dd hh:mm'|nullReplace}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8">
          <label class="no-margin">实际还款金额：</label>
        </div>
        <div class="v-table-cell text-default">
          <span class="pull-left">{{repayPlan.totalRelAmount|currencyFormat:'xx 元'|nullReplace}}</span>
          <div *ngIf="getErrorAmount()" class="form-control-static pull-left pad-l-sm">误差金额：
            {{getErrorAmount()|currencyFormat:' 元'}}
            <span class="text-disabled">（实际还款金额-应还总额）</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8" style="vertical-align: top">
          <label class="no-margin">误差原因：</label>
        </div>
        <div class="v-table-cell text-default">
          <span class="pull-left">{{repayPlan.errorRemark|nullReplace}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="text-disabled mar-b-sm mar-t-xxs">
    <small class="">
      注：应还本金+应还利息+罚息=应还总额
    </small>
  </div>
  <div class="group mar-b-sm clearfix">
    <div class="col-md-12 mar-b-xs">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8" >
          <label class="no-margin">还款方式：</label>
        </div>
        <div class="v-table-cell text-default">
          <span class="text-default">{{repaymentNotify.accountRepaymentWay==0?'电子账户':'其他方式'|nullReplace}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mar-b-xs" *ngIf="repaymentNotify.accountRepaymentWay==0">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8" >
          <label class="no-margin">电子账户流水：</label>
        </div>
        <div class="v-table-cell">
          <table class="table table-bordered bg-white no-margin">
            <thead class="bg-default">
            <tr>
              <th class="text-center">交易时间</th>
              <th class="text-center">发生金额(元)</th>
              <th class="text-center">对方账户</th>
              <th class="text-center">对方账号</th>
              <th class="text-center">可用余额(元)</th>
              <th class="text-center">交易类型</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let flow of repaymentFlows">
              <td class="text-center">{{flow.dealTime}}</td>
              <td class="text-right text-gold">{{flow.amount}}</td>
              <td>{{flow.oppoAcctName}}</td>
              <td>{{flow.oppoAcctNo}}</td>
              <td class="text-right text-gold">{{flow.availableBalance}}</td>
              <td>{{flow.tradeType|dictionary:'trade_type'}}</td>
            </tr>
            </tbody>
          </table>
          <span class="text-default" *ngIf="!repaymentFlows||repaymentFlows.length===0">{{''|nullReplace}}</span>

        </div>
      </div>
    </div>
    <div class="col-md-12 mar-b-xs" *ngIf="repaymentNotify.accountRepaymentWay==1">
      <div class="v-table full-w">
        <div class="v-table-cell bold w-em-8" >
          <label class="no-margin">还款凭证：</label>
        </div>
        <div class="v-table-cell">
          <file-buttons [fileId]="fileId" [isLoadFile]="true"
                                      (preview)="previewer.open($event,'还款凭证-预览')"
                                      (previewImage)="gallery.open($event)"
          ></file-buttons>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pad-t-def">
    <button class="btn-def  mar-r-sm" (click)="validate()" ><i
      class="fa fa-check-circle-o"></i>提交</button>
    <button class="btn-def " btnBack>放弃<i class="fa fa-arrow-circle-o-left"></i></button>
  </div>
</div>

<modal [(visible)]="confirmCheckModal.visible" [size]="confirmCheckModal.type===0?'lg':'md'">
  <form HTML5Validate *ngIf="confirmCheckModal.submitData" (submit)="confirmCheckModal.submit()">
  <modal-header>确认还款信息</modal-header>
  <modal-body>
    <div class="row">
      <div class="mar-b-xs" [ngClass]="{'col-md-6':confirmCheckModal.type===0,'col-md-12':confirmCheckModal.type!==0}">
        <div class="v-table full-w mar-b-xs">
          <div class="v-table-cell bold w-em-7">电子账户：</div>
          <div class="v-table-cell">{{confirmCheckModal.bankAccount.bankAccount|nullReplace}}</div>
        </div>
        <div class="v-table full-w mar-b-xs ">
          <div class="v-table-cell bold w-em-7">账户名：</div>
          <div class="v-table-cell">{{confirmCheckModal.bankAccount.accountName|nullReplace}}</div>
        </div>
        <div class="v-table full-w mar-b-xs">
          <div class="v-table-cell bold w-em-7">账户余额：</div>
          <div class="v-table-cell text-gold">
            {{confirmCheckModal.bankAccount.availableBalance|currencyFormat:'xx 元'|nullReplace}}
          </div>
        </div>
      </div>
      <div class="col-md-6 mar-b-xs" style="border-left: 1px solid #aaa"
           *ngIf="confirmCheckModal.type===0">
        <div *ngFor="let item of confirmCheckModal.bankCardPicker.selections;let i=index"
        style="border-bottom: 1px dashed #aaa;margin-bottom: 10px;">
          <div class="v-table full-w mar-b-xs">
            <div class="v-table-cell bold w-em-7">选择资方：</div>
            <div class="v-table-cell">
              <select class="form-control" [(ngModel)]="item.capitalId" name="capitalId{{item.timestamp}}" required
                      [HTML5Validate]="[!item.capitalId,'请选择资方']"
              (change)="confirmCheckModal.bankCardPicker.loadBankCard(i)">
                <option *ngFor="let capital of confirmCheckModal.bankCardPicker.capitalOptions" [value]="capital.resourceId">
                  {{capital.resourceName}}
                </option>
              </select>
            </div>
          </div>
          <div class="v-table full-w mar-b-xs">
            <div class="v-table-cell bold w-em-7">归集账户{{i+1}}：</div>
            <div class="v-table-cell">
              <select class="form-control" [(ngModel)]="item.bankCardId" name="bankCardId{{item.timestamp}}"
                      required [HTML5Validate]="[!item.bankCardId,'请选择银行卡']">
                <option *ngFor="let opt of item.bankCardOptions" [value]="opt.cardId">
                  {{(opt.cardId?('['+opt.cardName+']'):opt.cardName)+(opt.cardNo||'')}}
                </option>
              </select>
            </div>
          </div>
          <div class="v-table full-w mar-b-xs">
            <div class="v-table-cell bold w-em-7">金额：</div>
            <div class="v-table-cell">
              <div class="input-group pull-left" style="max-width: 200px">
                <input class="form-control" [(ngModel)]="item.amount" name="amount{{item.timestamp}}"
                       required pattern="^[0-9]+(\.[0-9]+)?$" currencyFormat #amountRef="ngModel"
                       placeholder="金额"
                       [HTML5Validate]="[[amountRef.errors&&amountRef.errors.required,'请输入金额！'],[amountRef.errors&&amountRef.errors.pattern,'金额输入有误！']]"/>
                <span class="input-group-addon">元</span>
              </div>
              <div class="pull-right btn-remove-bc" *ngIf="confirmCheckModal.bankCardPicker.selections.length>1"
              (click)="confirmCheckModal.bankCardPicker.removeSelection(i)"><a class="fa fa-remove" title="删除" ></a></div>
            </div>
          </div>
        </div>
        <div >
          <a class="text-info" (click)="confirmCheckModal.bankCardPicker.addSelection()">添加+</a>
        </div>
      </div>
    </div>

  </modal-body>
  <modal-footer >
    <div class="text-center pad-b-xs">
      <span class="bold">交易密码：</span>
      <div class="inline-block" style="vertical-align: middle">
        <div class="input-group" style="max-width: 300px">
          <input class="form-control" type="password" [(ngModel)]="confirmCheckModal.submitData.auditPwd" name="auditPwd"
          [HTML5Validate]="[!confirmCheckModal.submitData.auditPwd,'请输入审核口令！']" required />
          <label class="cur-poi input-group-addon btn-primary" style="font-weight: normal">
            {{confirmCheckModal.submitted?'正在提交...':'确定并还款'}}
            <input style="display: none;" type="submit" [disabled]="confirmCheckModal.submitted" />
          </label>
        </div>
      </div>
    </div>
  </modal-footer>
  </form>
</modal>

<previewer #previewer></previewer>
<gallery #gallery size="md"></gallery>
<flow-details [mode]="1" #flowDetails></flow-details>
