<div class="page-location">
  <a class="h4 pad-r-xs font-bold">展期详情</a>
  <a class="page-location-item">业务中心<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">贷后管理<i class="fa fa-angle-right"></i></a>
  <a class="page-location-item ">展期管理<i class="fa fa-angle-right"></i></a>
  <a class="page-location-item active ">展期详情</a>
</div>

<div class="wrapper-md">
  <div class="group  mar-b-sm clearfix">
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">展期单号：</div>
      <div class="v-table-cell text-default">{{rollover.rolloverApplyId|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">创建时间：</div>
      <div class="v-table-cell text-default">{{rollover.createTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">状态：</div>
      <div class="v-table-cell text-default">{{rollover.statusName|nullReplace}}</div>
    </div>
  </div>
  <div class="group  mar-b-sm clearfix">
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">企业名称：</div>
      <div class="v-table-cell text-default">{{rollover.companyName|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">展期金额：</div>
      <div class="v-table-cell text-default">
        {{rollover.repaymentCapital|currencyFormat:'xx 元'|nullReplace}}
      </div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">保证金：</div>
      <div class="v-table-cell text-default">
        {{rollover.rolloverDeposit|currencyFormat:'xx 元'|nullReplace}}
      </div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">当期利息：</div>
      <div class="v-table-cell text-default">
        {{rollover.repaymentInterest|currencyFormat:'xx 元'|nullReplace}}
      </div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">展期利率：</div>
      <div class="v-table-cell text-default">{{(rollover.rolloverRate||null)|percent|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">承诺还款日期：</div>
      <div class="v-table-cell text-default">{{rollover.rolloverDate|date:'yyyy-MM-dd'|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs" *ngIf="progress.isSecondReview">
      <div class="v-table-cell w-em-7 bold">批准还款日期：</div>
      <div class="v-table-cell text-default">{{rollover.comfirmRolloverDate|date:'yyyy-MM-dd'|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs" *ngIf="rollover.realRolloverDate">
      <div class="v-table-cell w-em-7 bold">实际还款日期：</div>
      <div class="v-table-cell text-default">{{rollover.realRolloverDate|date:'yyyy-MM-dd'|nullReplace}}</div>
    </div>
  </div>
  <div class="group mar-b-sm clearfix" *ngIf="progress.isUploadedVoucher||progress.isConfiguredContract">
    <div class="v-table col-md-12 mar-b-xs" *ngIf="progress.isUploadedVoucher">
      <div class="v-table-cell w-em-7 bold">展期凭证：</div>
      <div class="v-table-cell text-default">
        <file-buttons [isLoadFile]="true" [fileId]="rollover.fileLoadId"
                      (preview)="previewer.open($event,'展期凭证-预览')"
                      (previewImage)="gallery.open($event)">
        </file-buttons>
      </div>
    </div>
    <div class="v-table col-md-12 mar-b-xs" *ngIf="progress.isConfiguredContract">
      <div class="v-table-cell w-em-7 ">
        <label class="no-margin bold">展期合同：</label>
      </div>
      <div class="v-table-cell">
        <table class="table table-bordered no-margin bg-white" style="margin-bottom: 5px;" *ngIf="contracts.length>0">
          <thead  *ngIf="contracts.length>0" class="bg-default">
          <th >合同编号</th>
          <th >合同标题</th>
          <th >公司名称</th>
          <th>是否送签</th>
          <th >操作</th>
          </thead>
          <tbody>
          <tr *ngFor="let contract of contracts">
            <td >{{contract.contractNum}}</td>
            <td >{{contract.contractTitle}}</td>
            <td >{{contract.companyName}}</td>
            <td >
              <span *ngIf="contract.isSign==0">是</span>
              <span *ngIf="contract.isSign==1">否</span>
            </td>
            <td style="width:10em" >
              <div class="table-btn-group">
                <a class="table-btn" (click)="contractDetails.open(contract)" title="详情">详情</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="group mar-b-sm clearfix">
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">贷款单号：</div>
      <div class="v-table-cell text-default">{{loan.borrowApplyId|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">还款期数：</div>
      <div class="v-table-cell text-default">{{rollover.currentPeriodStr|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">贷款金额：</div>
      <div class="v-table-cell text-default">{{loan.approveAmount|currencyFormat:'xx 元'|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">贷款产品：</div>
      <div class="v-table-cell text-default">{{loan.productName|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">贷款周期：</div>
      <div class="v-table-cell text-default">{{loan.ratedCycle|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">还款方式：</div>
      <div class="v-table-cell text-default">{{loan.paymentWay|dictionary:'payment_way'|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">利率：</div>
      <div class="v-table-cell text-default">{{loan.rate|percent|nullReplace}}</div>
    </div>
    <div class="v-table col-md-6 mar-b-xs">
      <div class="v-table-cell w-em-7 bold">计息方式：</div>
      <div class="v-table-cell text-default">{{loan.rateType|dictionary:'interest_type'|nullReplace}}</div>
    </div>
    <div class="v-table col-md-12 mar-b-xs">
      <div class="v-table-cell w-em-7 bold" style="vertical-align: top">还款计划：</div>
      <div class="v-table-cell">
        <repay-plans [data]="loan.borrowApplyId"></repay-plans>
      </div>
    </div>
  </div>
  <div class="group mar-b-sm  clearfix" *ngIf="progress.isFirstReview">
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">一审人员：</div>
        <div class="v-table-cell text-default">
          {{rollover.auditOneBy|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">一审时间：</div>
        <div class="v-table-cell text-default">
          {{rollover.auditOneTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-12 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">一审意见：</div>
        <div class="v-table-cell text-default">
          {{rollover.auditOneRemarks|nullReplace}}
        </div>
      </div>
    </div>
  </div>
  <div class="group mar-b-sm  clearfix" *ngIf="progress.isSecondReview">
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">二审人员：</div>
        <div class="v-table-cell text-default">
          {{rollover.auditTwoBy|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">二审时间：</div>
        <div class="v-table-cell text-default">
          {{rollover.auditTwoTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
        </div>
      </div>
    </div>
    <div class="col-md-12 mar-b-sm">
      <div class="v-table full-w">
        <div class="v-table-cell w-em-8 bold">二审意见：</div>
        <div class="v-table-cell text-default">
          {{rollover.auditTwoRemarks|nullReplace}}
        </div>
      </div>
    </div>
  </div>
  <div class="text-center"><button class="btn-def " btnBack>返回<i class="fa fa-arrow-circle-o-left"></i></button>
  </div>
</div>
<contract-details  [mode]="1" #contractDetails></contract-details>
<previewer #previewer></previewer>
<gallery #gallery size="md"></gallery>
