<div class="page-location">
  <a class="h4 pad-r-xs font-bold">展期详情</a>
  <a class="page-location-item">业务中心<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">贷后管理<i class="fa fa-angle-right"></i></a>
  <a class="page-location-item ">展期管理<i class="fa fa-angle-right"></i></a>
  <a class="page-location-item active ">展期详情</a>
</div>

<div class="wrapper-md">
  <div class="group pad-def mar-b-sm">
    <table class="table no-border  no-margin">
      <tbody>
      <tr>
        <td class="table-label" width="12%">展期单号：</td>
        <td class="text-default" width="38%"> {{rollover.rolloverApplyId|nullReplace}}</td>
        <td class="table-label" width="12%">申请日期：</td>
        <td  class="text-default" width="38%">{{rollover.createTime|date:'yyyy-MM-dd'|nullReplace}}</td>
      </tr>
      <tr>
        <td class="table-label" width="12%">企业名称：</td>
        <td  class="text-default" width="38%">{{rollover.companyName|nullReplace}}</td>
        <td class="table-label">展期开始日期：</td>
        <td  class="text-default">
          <div class="inline-block">
            {{rollover.rolloverTime|date:'yyyy-MM-dd'|nullReplace}}
          </div>
        </td>
      </tr>

      <tr>
        <td class="table-label">展期金额：</td>
        <td  class="text-default">
          <span >{{rollover.repaymentPrinciple|currencyFormat:'xx 元'|nullReplace}}</span>
        </td>
        <td class="table-label">还款期数：</td>
        <td  class="text-default">
          <div class="input-unit-wrap">
            {{rollover.repaymentPlan|currencyFormat:[0,0,'第 xx 期']|nullReplace}}
          </div>
        </td>
      </tr>
      <tr>
        <td class="table-label">展期保证金：</td>
        <td  class="text-default">
          <div class="input-unit-wrap">
            {{rolloverSvc.mul(rollover.repaymentPrinciple,product.rolloverDeposit)|currencyFormat:'xx 元'|nullReplace}}
          </div>
        </td>
        <td class="table-label">本期利息：</td>
        <td  class="text-default">
          <span class="form-control-static">
            {{getRolloverInterest()|currencyFormat:'xx 元'|nullReplace}}
          </span>
        </td>
      </tr>

      <tr>
        <td class="table-label">状态：</td>
        <td  class="text-default">
          {{rollover.statusName|nullReplace}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="group pad-def mar-b-sm">
    <div class="group-title">贷款信息</div>
    <table class="table no-border no-margin">
      <tbody>
      <tr>
        <td class="table-label" width="12%">贷款单号：</td>
        <td  class="text-default" width="38%">{{loan.borrowApplyId|nullReplace}}</td>
        <td class="table-label" width="12%">放款日期：</td>
        <td  class="text-default" width="38%">{{loan.loanTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}</td>
      </tr>
      <tr>
        <td class="table-label" width="12%">贷款金额：</td>
        <td class="text-default" width="38%">
          {{loan.approveAmount|currencyFormat:'xx 元'|nullReplace}}
        </td>
        <td class="table-label" width="12%">贷款产品：</td>
        <td  class="text-default" width="38%">{{loan.productName|nullReplace}}</td>
      </tr>
      <tr>
        <td class="table-label">贷款周期：</td>
        <td  class="text-default">{{loan.borrowHowlong|nullReplace}}</td>
        <td class="table-label">还款方式：</td>
        <td  class="text-default">{{loan.repaymentWay|dictionary:'repaymentWay'|nullReplace}}</td>
      </tr>
      <tr>
        <td class="table-label">利率：</td>
        <td  class="text-default">{{loan.rate|percent|nullReplace}}</td>
        <td class="table-label">计息方式：</td>
        <td  class="text-default">{{loan.rateType|dictionary:'interestType'|nullReplace}}</td>
      </tr>
      <tr>
        <td class="table-label">还款计划：</td>
        <td colspan="3" style="padding: 15px 15px 5px 15px;">
          <table class="table table-bordered  no-margin">
            <thead class="bg-default">
            <tr>
              <th class="text-center">期数</th>
              <th class="text-center">还款日期</th>
              <th class="text-center">应还本金(元)</th>
              <th class="text-center">应还利息(元)</th>
              <th class="text-center">罚息(元)</th>
              <th class="text-center">应还总额(元)</th>
              <th class="text-center">状态</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let repayPlan of repayPlans" >
              <td class="text-center">第{{repayPlan.repaymentPlan}}期</td>
              <td class="text-center">{{repayPlan.repaymentPlanDate|date:'yyyy-MM-dd'}}</td>
              <td class="text-right text-gold">{{repayPlan.repaymentPrinciple|currencyFormat|nullReplace}}</td>
              <td class="text-right text-gold">{{repayPlan.repaymentInterest|currencyFormat|nullReplace}}</td>
              <td class="text-right text-gold">{{repayPlan.overdueInterest|currencyFormat|nullReplace}}</td>
              <td class="text-right text-gold">{{repayPlan.repayRelAmount|currencyFormat|nullReplace}}</td>
              <td class="text-center">
                <span>{{repayPlan.statusName}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center"><button class="btn-def " btnBack>返回<i class="fa fa-arrow-circle-o-left"></i></button>
  </div>
</div>
