<root-container
  [headerFixed]="setting.headerFixed"
  [asideFixed]="setting.asideFixed"
  [asideFolded]="setting.asideFolded"
  [asideDock]="setting.asideDock"
  [container]="setting.container"
  [offScreen]="setting.offScreen">
  <header theme="cerulean">
    <a class="sys-name hidden-xs" routerLink="/home">
    </a>
    <a class="btn-toggle-aside" (click)="toggleOffScreen()">
      <i class="fa fa-reorder"></i>
    </a>
    <a class="sys-name-xs" routerLink="/home">金融业务处理系统</a>
    <div class="dropdown user-box" toggleClass="open" [opt-revokable]="true">
      <a  class="dropdown-toggle clear">
        <i class="fa fa-user pad-r-xxs"></i><span class="hidden-xs">{{user.employeeName||user.mobile}}</span> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu animated fadeInRight w pad-r-xs">
        <li>
          <a routerLink="/modifyPassword">
            <span class="label bg-info pull-right"></span>
            修改密码
          </a>
          <a routerLink="/modifyReviewPassword">
            <span class="label bg-info pull-right"></span>
            修改审核口令
          </a>
        </li>
        <li>
          <a (click)="logout()">退出登录</a>
        </li>
      </ul>
    </div>

  </header>
  <aside-left theme="cerulean-outline">
    <nav-wrap>
      <nav-item *ngFor="let menu of asideMenus" icon="{{menu.icon}}" text="{{menu.text}}" link="{{menu.link}}">
        <sub-nav-item *ngFor="let sMenu of menu.subMenus" text="{{sMenu.text}}" link="{{sMenu.link}}">
          <thirth-nav-item *ngFor="let tMenu of sMenu.subMenus" text="{{tMenu.text}}" link="{{tMenu.link}}"></thirth-nav-item>
        </sub-nav-item>
      </nav-item>
    </nav-wrap>
  </aside-left>
  <div class="app-content " (click)="openContent()" >
    <router-outlet></router-outlet>
    <div class="footer">
      <div class="copyright">Copyright © 2017 HaiTun56. All rights reserved</div>
    </div>
  </div>
</root-container>











