.panel{
  margin-bottom: 10px;
}
.panel-heading{
  background-color: #fff;
  border-bottom: none;
}
.panel-heading .h4{
  position: relative;
  top:8px;
  padding-left: 5px;
}
.panel-body{
  padding-top: 0;
}
.prod-label{
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
.resource-item{
  line-height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 0 10px;
  margin: 0;
}
.resource-item:hover{
  background-color: #fafafa;

}
.resource-item.active{
  background-color: #fff;
  /* color: #fff; */
  border-top: 1px solid #eaeff0;
  border-bottom: 1px solid #eaeff0;
  /*border-right: 2px solid #00C1DE;*/
  border-right: 2px solid #fff;
  position: relative;
  left: 1px;
}
.resource-item.active:first-child{
  border-top: none;
}
/*.resource-item.active:last-child{
  border-bottom: none;
}*/
.label.label-area-scope{
  border-radius: 0;
  padding: 4px 12px;
  font-size: 14px;
}
.area-scope-wrap{
  padding-top: 20px;
  padding-bottom: 20px;
}
/deep/ product-details{
  display: block;
}


//new
.group{
  padding: 10px 15px;
}
