<div class="page-location">
  <a class="h4 pad-r-xs font-bold">产品详情</a>
  <a class="page-location-item">
    管理中心<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">产品管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active ">产品详情</a>
</div>

<div class="wrapper-md">
  <div class="group clearfix mar-b-sm">
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">产品名称：</div>
      <div class="v-table-cell text-default">{{product.productName|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">发布公司：</div>
      <div class="v-table-cell text-default">{{product.productCompany|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">产品类别：</div>
      <div class="v-table-cell text-default">{{product.productType|dictionary:'product_type'|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">发布日期：</div>
      <div class="v-table-cell text-default">{{product.beginDate|date:'yyyy-MM-dd'|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">额度范围：</div>
      <div class="v-table-cell text-default">{{product.valueLimit|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">有效期：</div>
      <div class="v-table-cell text-default">{{product.expiryDate|dictionary:'expiry_date'|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">贷款周期：</div>
      <div class="v-table-cell text-default">{{product.borrowHowlong|nullReplace}}</div>
    </div>
    <div class="col-md-12 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">条件要求：</div>
      <div class="v-table-cell text-default">{{product.productRequirement|nullReplace}}</div>
    </div>
    <div class="col-md-12 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">产品简介：</div>
      <div class="v-table-cell text-default">{{product.productRemark|nullReplace}}</div>
    </div>
  </div>
  <div class="group clearfix mar-b-sm">
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">展期日利率：</div>
      <div class="v-table-cell text-default">{{product.rolloverInterestValue|percent|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">逾期日利率：</div>
      <div class="v-table-cell text-default">{{product.overdueInterestValue|percent|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">展期最长期限：</div>
      <div class="v-table-cell text-default">{{product.rolloverHowlong|currencyFormat:[0,0,'xx 天']|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">逾期罚息利率：</div>
      <div class="v-table-cell text-default">{{(product.penaltyRate||null)|percent|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">展期保证金：</div>
      <div class="v-table-cell text-default">{{product.rolloverDeposit|percent|nullReplace}}</div>
    </div>
  </div>
  <div class="group clearfix mar-b-sm">
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">适用渠道：</div>
      <div class="v-table-cell text-default">{{product.productAppScope|dictionary:'product_app_scope'|nullReplace}}</div>
    </div>
    <div class="col-md-6 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">地域范围：</div>
      <div class="v-table-cell text-default">{{product.productAreaScope|dictionary:'product_area_scope'|nullReplace}}</div>
    </div>
    <div class="col-md-12 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8" style="vertical-align: top">参数配置：</div>
      <div class="v-table-cell">
        <table class="table table-bordered bg-white no-b-margin">
          <tbody>
          <tr>
            <td class="no-padding" *ngIf="product.productAppScope===1" rowspan="2">
              <p class="resource-item" *ngFor="let resource of selectedResources" (click)="activateResource(resource)"
                 [ngClass]="{'active':activeResource==resource}">{{resource.resourceName}}</p>
            </td>
            <td rowspan="2" [ngClass]="{'no-padding':product.productAppScope===0}">
              <table class="table table-bordered no-margin" >
                <thead class="bg-default">
                <tr>
                  <th class="text-center">还款方式</th>
                  <th class="text-center">计息方式</th>
                  <th class="text-center">利率（%）</th>
                  <th class="text-center">贷款周期</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" *ngFor="let conf of productConfigs"
                    [hidden]="(product.productAppScope===0&&conf.appId!=-1)||
                  (product.productAppScope===1&&!activeResource)||
                (product.productAppScope===1&&activeResource&&conf.appId!=activeResource.resourceId)">
                  <td>{{conf.paymentWay|dictionary:'payment_way'}}</td>
                  <td>{{conf.interestType|dictionary:'interest_type'}}</td>
                  <td>{{conf.interestValue|percent}}</td>
                  <td>{{conf.rateCycle}}</td>
                </tr>
                <tr *ngIf="productConfigs.length==0">
                  <td colspan="4" class="text-center text-disabled">
                    无配置
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="group clearfix mar-b-sm" *ngIf="proveData&&proveData.length">
    <div class="col-md-12 v-table mar-b-xs">
      <div class="v-table-cell bold w-em-8">融资证明：</div>
      <div class="v-table-cell text-default">
        <span *ngFor="let item of proveData" class="mar-r-sm">{{item.fileTypeName}}</span>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn-def" btnBack>返 回<i class="fa fa-arrow-circle-o-left"></i></button>
  </div>
</div>
<q-btn-group></q-btn-group>
