<div class="page-location">
  <a class="h4 pad-r-xs font-bold">合同详情</a>
</div>
<div class="wrapper-md">

  <div class="group mar-b-sm">
    <div class="group-title">合同信息</div>
    <table class="table no-border no-margin">
  <!--    <tr>
        <td class="td-label" width="10%">合同ID：</td>
        <td class="text-default break-all" width="40%">
          {{contract.id|nullReplace}}
        </td>
        <td class="td-label" width="10%">天威合同ID：</td>
        <td class="text-default break-all" width="40%">
          {{contract.twId|nullReplace}}
        </td>
      </tr>-->
      <tr>
        <td class="td-label" width="10%">合同编号：</td>
        <td class="text-default" width="40%">
          {{contract.docNum|nullReplace}}
        </td>
        <td class="td-label" width="10%">状态：</td>
        <td class="text-default" width="40%">
          {{contract.statusName|nullReplace}}
        </td>
      </tr>
      <tr>
        <td class="td-label" width="10%">合同标题：</td>
        <td class="text-default" width="40%">
          {{contract.title|nullReplace}}
        </td>
        <td class="td-label" width="10%">是否送签：</td>
        <td class="text-default" width="40%">
          <span *ngIf="contract.isSign">是</span>
          <span *ngIf="contract.isSign===false">否</span>
          <span *ngIf="contract.isSign!==true&&contract.isSign!==false">{{''|nullReplace}}</span>
        </td>
      </tr>
      <tr>
        <td class="td-label" width="10%">公司名称：</td>
        <td class="text-default" width="40%">
          {{contract.companyName|nullReplace}}
        </td>
        <td class="td-label" width="10%">创建时间：</td>
        <td class="text-default" width="40%">
          {{contract.createTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
        </td>
      </tr>
      <tr>
        <td class="td-label" width="10%">资方：</td>
        <td class="text-default" width="40%">
          {{matchCapitalName(contract.capitalId)|nullReplace}}
        </td>
        <td class="td-label" width="10%">签署时间：</td>
        <td class="text-default" width="40%">
          {{contract.updateTime|date:'yyyy-MM-dd hh:mm:ss'|nullReplace}}
        </td>
      </tr>
      <tr>
        <td class="td-label" width="10%">贷款编号：</td>
        <td class="text-default" width="40%">
          {{contract.borrowApplyId|nullReplace}}
        </td>
      </tr>
    </table>
  </div>
  <div class="group mar-b-sm">
    <div class="group-title">签章信息</div>
    <table class="table table-bordered mar-b-xs mar-t-xs bg-white">
      <thead class="bg-default">
      <tr>
        <th class="text-center">签章用户</th>
        <th class="text-center">签章页码</th>
        <th class="text-center">X坐标</th>
        <th class="text-center">Y坐标</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of signatures">
        <td>{{item.name}}</td>
        <td class="text-center">{{item.page}}</td>
        <td class="text-center">{{item.positionX}}</td>
        <td class="text-center">{{item.positionY}}</td>
      </tr>
      <tr *ngIf="loadingSignatures">
        <td colspan="4" class="text-center text-disabled">正在加载...</td>
      </tr>
      <tr *ngIf="!loadingSignatures&&signatures.length==0">
        <td colspan="4" class="text-center text-disabled">无签章信息</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="group mar-b-sm">
    <div class="group-title">合同附件</div>
    <table class="table no-border mar-b-xs mar-t-xs" >
      <tbody>
      <tr *ngIf="fileInfo&&contract.fileId">
        <td>
          <span class="mar-r-xs">{{fileInfo.fileName}}</span>
          <a class="text-info cur-poi" title="预览" *ngIf="fileType(fileInfo.fileType)=='pdf'"
             (click)="previewFile(fileInfo.fileType,contract.fileId)"><i class="fa fa-search"></i></a>
          <a class="text-info cur-poi" title="预览" *ngIf="isImg(fileInfo.fileType)"
             (click)="gallery.open($event,createDownloadFileUrl(contract.fileId))"><i class="fa fa-search"></i></a>
          <a class="text-info cur-poi mar-l-xs" title="下载"
             href="{{createDownloadFileUrl(contract.fileId)}}" target="_self" download="{{fileInfo.fileName}}"><i class="fa fa-download"></i></a>
        </td>
      </tr>
      <tr *ngIf="!fileInfo&&contract.fileId&&!loadingFileInfo">
        <td colspan="5" class="text-center text-disabled">无法获取附件信息</td>
      </tr>
      <tr *ngIf="contract.fileId&&loadingFileInfo">
        <td colspan="5" class="text-center text-disabled">正在加载...</td>
      </tr>
      <tr *ngIf="!contract.fileId">
        <td colspan="5" class="text-center text-disabled">无附件</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center pad-b-sm">
    <button class="btn-def" type="button" btnBack>返 回<i class="fa fa-arrow-circle-o-left"></i></button>
  </div>
</div>


<modal #fileModal fullHeight size="lg" [overflow]="true">
  <modal-header>查看合同</modal-header>
  <modal-body styleClass="no-padding">
    <iframe width="100%" height="100%" mySrc="{{showingFileUrl}}">
    </iframe>
  </modal-body>
  <modal-footer>
    <button class="btn btn-default btn-sm" (click)="fileModal.close()">关闭</button>
  </modal-footer>
</modal>

<gallery #gallery size="lg"></gallery>
